{# src/Rubens/RubensWebBundle/Resources/views/Backend/Utilisateur/index.html.twig #}

{% extends "RubensWebBundle:Backend:backend.html.twig" %}
{% block body %}
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                TABLES : utilisateurs
            </div>
            <!-- /.panel-heading -->
            {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                <div class="flash-notice">
                    {{ flashMessage }}
                </div>
            </div>
            {% endfor %}
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-tables">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Prénom</th>
                                <th>Nom</th>
                                <th>Username</th>
                                <th>Mail</th>
                                <th>Dernière connexion</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for utilisateur in entities %}
                            <tr class="odd gradeX">
                                <td>{{ utilisateur.id }}</td>
                                <td>{{ utilisateur.prenom }}</td>
                                <td>{{ utilisateur.nom }}</td>
                                <td>{{ utilisateur.username }}</td>
                                <td>{{ utilisateur.email }}</td>
                                <td>{{ utilisateur.lastlogin|date('d-m-Y à H:i')}}</td>
                                <td><a href="{{path('rubens_admin_utilisateur_edit', {'id': utilisateur.id} )}}">Modifier</a> - <a href="{{path('rubens_admin_utilisateur_show', {'id': utilisateur.id} )}}">Voir</a></td>
                            </tr>
                           {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
{% endblock %}
