{# src/Rubens/WebBundle/Resources/views/Backend/menu-panel.html.twig #}

<div class="col-lg-2">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-pencil"></span> Articles
        </div>
        <div class="panel-body">
            <p><span class="glyphicon glyphicon-plus"></span> <a href="{{path('rubens_admin_post_new')}}">Créer un nouveau article</a></p>
            <p><span class="glyphicon glyphicon-list"></span> <a href="{{path('rubens_admin_post_homepage')}}">Voir la liste des articles</a></p>
        </div>
    </div>
</div>
<div class="col-lg-2">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-pushpin"></span> Categories
        </div>
        <div class="panel-body">
            <p><span class="glyphicon glyphicon-plus"></span> <a href="{{path('rubens_admin_categorie_new')}}">Créer une nouvelle categorie</a></p>
            <p><span class="glyphicon glyphicon-list"></span> <a href="{{path('rubens_admin_categorie_homepage')}}">Voir la liste des categories</a></p>
        </div>
    </div>
</div>
<!-- /.col-lg-2 -->
<div class="col-lg-2">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-pushpin"></span> Documents
        </div>
        <div class="panel-body">
            <p><span class="glyphicon glyphicon-plus"></span> <a href="{{path('rubens_admin_document_new')}}">Créer un nouveau document</a></p>
            <p><span class="glyphicon glyphicon-list"></span> <a href="{{path('rubens_admin_document_homepage')}}">Voir la liste des documents</a></p>
        </div>
    </div>
</div>
<!-- /.col-lg-2 -->
<div class="col-lg-2">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-picture"></span> Images
        </div>
        <div class="panel-body">
            <p><span class="glyphicon glyphicon-plus"></span> <a href="{{path('rubens_admin_image_new')}}">Créer une nouvelle image</a></p>
            <p><span class="glyphicon glyphicon-list"></span> <a href="{{path('rubens_admin_image_homepage')}}">Voir la liste des images</a></p>
        </div>
    </div>
</div>
        <!-- /.col-lg-2 -->
<div class="col-lg-2">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-user"></span> Utilisateurs
        </div>
        <div class="panel-body">
            <p><span class="glyphicon glyphicon-plus"></span> <a href="{{path('rubens_admin_utilisateur_new')}}">Créer un nouvel utilisateur</a></p>
            <p><span class="glyphicon glyphicon-list"></span> <a href="{{path('rubens_admin_utilisateur_homepage')}}">Voir la liste des utilisateurs</a></p>
        </div>
    </div>
</div>
<!-- /.col-lg-2 -->
<!-- /.col-lg-2 -->
<div class="col-lg-2">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-film"></span> Vidéos
        </div>
        <div class="panel-body">
            <p><span class="glyphicon glyphicon-plus"></span> <a href="{{path('rubens_admin_video_new')}}">Créer une nouvelle vidéo</a></p>
            <p><span class="glyphicon glyphicon-list"></span> <a href="{{path('rubens_admin_video_homepage')}}">Voir la liste des vidéos</a></p>
        </div>
    </div>
</div>
