        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li>
                        <a href="{{path('rubens_web_homepage')}}" target="_blank"><i class="fa fa-dashboard fa-fw"></i> Page d'accueil</a>
                    </li>
                    <li>
                        <a href="{{path('fos_user_security_logout')}}"><i class="fa fa-sign-out fa-fw"></i> Me déconnecter</a>
                    </li>
                    <li>
                        <a href="{{path('rubens_admin_homepage')}}"><i class="fa fa-dashboard fa-fw"></i> Tableau de bord</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Articles<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{{path('rubens_admin_post_homepage')}}">Liste des articles</a>
                            </li>
                            <li>
                                <a href="{{path('rubens_admin_post_new')}}">Créer un article</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Categories<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{{path('rubens_admin_categorie_homepage')}}">Liste des categories</a>
                            </li>
                            <li>
                                <a href="{{path('rubens_admin_categorie_new')}}">Créer une categorie</a>
                            </li>
                        </ul>
                    <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Documents<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                 <a href="{{path('rubens_admin_image_homepage')}}">Liste des documents</a>
                            </li>
                            <li>
                                <a href="{{path('rubens_admin_image_new')}}">Créer un document</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Images<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                 <a href="{{path('rubens_admin_image_homepage')}}">Liste des images</a>
                            </li>
                            <li>
                                <a href="{{path('rubens_admin_image_new')}}">Créer une image</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Rôles<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{{path('rubens_admin_video_homepage')}}">Liste des rôles</a>
                            </li>
                            <li>
                                <a href="{{path('rubens_admin_video_new')}}">Créer un rôle</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Utilisateurs<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{{path('rubens_admin_utilisateur_homepage')}}">Liste des utilisateurs</a>
                            </li>
                            <li>
                                <a href="{{path('rubens_admin_utilisateur_new')}}">Créer un utilisateur</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Vidéos<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{{path('rubens_admin_video_homepage')}}">Liste des vidéos</a>
                            </li>
                            <li>
                                <a href="{{path('rubens_admin_video_new')}}">Créer une vidéo</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="{{path('rubens_admin_changelog')}}"><i class="fa fa-dashboard fa-fw"></i> Changelog</a>
                    </li>
                </ul>
                <!-- /#side-menu -->
            </div>
            <!-- /.sidebar-collapse -->
        </nav>
